# This is config.example.
# You don't need to change it!
# Open GUI editor waypie-editor ant setup everything there
# just copy in to ~/.config
#   cp config.example ~/.config/waypie/config
#   cp style.example.css ~/.config/waypie/style.css
# and read README.md
# https://github.com/rywby-dot/waypie
# Colors are setup manually in style.css

menu-radius = 120
center-hitbox-size = 160
minimum-edge-distance = 150
center-mode = false
active-label-in-center = true
close-submenu-on-center-click = false
hover-mode = false
turbo-mode = false
preserve-proportions = false
auto-alignment = true
configurator-show-icons = true

[menu]
label = "Waypie"
icon-theme = "Papirus-Dark"
icon = "16x16/actions/atmosphere.svg"

[[menu.items]]
label = "Apps"
icon-theme = "tabler-icons"
icon = "outline/apps.svg"
angle = 60

[[menu.items.items]]
label = "Dolphin"
command = "dolphin"
angle = 330

[[menu.items.items]]
label = "Calculator"
command = "qalculate-qt"
icon-theme = "tabler-icons"
icon = "filled/calculator.svg"
angle = 60

[[menu.items.items]]
label = "More"
icon-theme = "Papirus-Dark"
icon = "16x16/actions/add.svg"
angle = 150

[[menu.items.items.items]]
label = "Waypie git"
command = "xdg-open https://github.com/rywby-dot/waypie"
angle = 60

[[menu.items.items.items]]
label = "Re-open menu"
command = "waypie --show"
angle = 150

[[menu.items.items.items]]
label = "submenu"
angle = 240

[[menu.items.items.items.items]]
label = "Nothing!"
command = "true"
angle = 180

[[menu.items.items.items.items]]
label = "New menu"
angle = 300

[[menu.items.items.items.items.items]]
label = "New command"
command = "true"
angle = 300

[[menu.items.items.items.items.items]]
label = "New menu"
angle = 180

[[menu.items.items.items.items.items.items]]
label = "New command"
command = "true"
angle = 30

[[menu.items]]
label = "Config"
command = "waypie-config"
icon-theme = "Papirus-Dark"
icon = "16x16/actions/configuration.svg"
angle = 180

[[menu.items]]
label = "Terminals"
icon-theme = "Papirus-Dark"
icon = "16x16/actions/cm_runterm.svg"
angle = 300

[[menu.items.items]]
label = "Foot"
command = "foot"
angle = 305

[[menu.items.items]]
label = "Kitty"
command = "kitty"
angle = 220

[[menu.items.items]]
label = "Alacritty"
command = "alacritty"
angle = 335

[[menu.items.items]]
label = "Ghostty"
command = "ghostty"
angle = 20
